@font-face{font-family:OpenSans;src:url(../fonts/opensans.ttf);}
@font-face{font-family:OpenSansItalic;src:url(../fonts/opensansitalic.ttf);}
@font-face{font-family:OpenSansBold;src:url(../fonts/opensansbold.ttf);}
@font-face{font-family:OpenSansBoldItalic;src:url(../fonts/opensansbolditalic.ttf);}
@font-face{font-family:OpenSansSemiBold;src:url(../fonts/opensanssemibold.ttf);}
@font-face{font-family:OpenSansSemiBoldItalic;src:url(../fonts/opensanssemibolditalic.ttf);}
